
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }
    .search-container {
      text-align: center;
    }

    h1 {
      color: #0066cc;
      text-align: center;
      padding: 20px 0;
    }

    h2 {
      color: #0066cc;
      text-align: center;
    }

    div {
      margin: 20px;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    input, button {
      margin: 10px;
      padding: 8px;
      border: 1px solid #0066cc;
      border-radius: 4px;
    }

    button {
      background-color: #0066cc;
      color: #fff;
      cursor: pointer;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th, td {
      padding: 10px;
      text-align: center;
      border-bottom: 1px solid #0066cc;
    }

    th {
      background-color: #0066cc;
      color: #fff;
    }

    tr[data-manual-id] {
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    tr[data-manual-id]:hover {
      background-color: #f2f2f2;
    }

    .actions button {
      margin-right: 5px;
    }
 